<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DispatchDash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59CFF1BF1C8E546B0008E545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CFF1D31C8E546B0008E545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CFF1DE1C8E546B0008E545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
